<!DOCTYPE html>
<html lang="en">

<head>
  <title>Plantilla - medico</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/dist/css/adminx.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/cssI/src/AdminLTE.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/cssI/src/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/cssI/src/select2.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/cssI/src/skin-blue.css" media="screen" />

  <script src="/cssI/src/Chart.js"></script>
</head>

<body>
  <div class="adminx-container  ">
    <!-- Header -->
    <nav class="navbar navbar-expand justify-content-between fixed-top">
      <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/medico/home">
        <img src="../demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
        Bienvenido Medico......
      </a>


      <div class="d-flex flex-1 d-block d-md-none">
        <a href="#" class="sidebar-toggle ml-3">
          <i data-feather="menu"></i>
        </a>
      </div>

      <ul class="navbar-nav d-flex justify-content-end mr-2">
        <!-- Notificatoins -->

        <!-- Notifications -->
        <li class="nav-item dropdown">
                    <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"
                            class="d-inline-block align-top" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-danger" href="/cerrar_sesion">Cerrar sesion</a>
                    </div>
                </li>
            </ul>
        </nav>
    <!-- // Header -->

    <!-- expand-hover push -->
    <div class="adminx-sidebar expand-hover push" id="sidebar">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
          <a href="/medico/home" class="sidebar-nav-link">
            <span class="sidebar-nav-icon">
              <i data-feather="home"></i>
            </span>
            <span class="sidebar-nav-name">
              Inicio
            </span>
            <span class="sidebar-nav-end">

            </span>
          </a>
        </li>


        <li class="sidebar-nav-item">
          <a  href='/medico/controlCitas' class="sidebar-nav-link" >
            <span class="sidebar-nav-icon">
              <i data-feather="calendar"></i>
            </span>
            <span class="sidebar-nav-name">
              Control de citas
            </span>
          </a>
        </li>

        <li class="sidebar-nav-item">
            <a  href='/medico/nuevaConsulta' class="sidebar-nav-link" >
            <span class="sidebar-nav-icon">
              <i data-feather="clipboard"></i>
            </span>
            <span class="sidebar-nav-name">
              Nueva consulta
            </span>

          </a>
        </li>



        <li class="sidebar-nav-item">
            <a  href='/medico/historialPaciente' class="sidebar-nav-link" >
            <span class="sidebar-nav-icon">
              <i data-feather="layers"></i>
            </span>
            <span class="sidebar-nav-name">
              Historial pacientes
            </span>
          </a>
        </li>


        <li class="sidebar-nav-item">
           <a  href='/medico/editar' class="sidebar-nav-link" >
            <span class="sidebar-nav-icon">
              <i data-feather="user"></i>
            </span>
            <span class="sidebar-nav-name">
              Datos personales
            </span>

          </a>
        </li>


      </ul>
    </div>

    <!-- Main Content -->
    <div class="adminx-content" >
      <div class="adminx-main-content">
        <div class="container-fluid">
          <!-- BreadCrumb -->
          </section>


          <!-- Main content -->
          <section class="content">
            <!-- Info boxes -->
            


            <div class="row">
              <div class="col-md-12">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Reporte de Citas Médicas 2019</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <p class="text-center">
                          <strong>Citas Médicas Asignadas vr Atendidas 2019</strong>

                        </p>
                        <div class="chart">
                          <canvas id="barChart" style="height: 380px; width: 816px;" width="1020" height="475"></canvas>
                        </div>
                      </div><!-- /.col -->
                      <div class="col-md-4">
                        <!-- Info Boxes Style 2 -->
                        <div class="info-box bg-purple">
                          <span class="info-box-icon"><img src="../demo/img/medical-kit.png" alt=""></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Citas totales</span>
                            <span class="info-box-number">332.00</span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                              Citas del mes: 13.00 </span>
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                        <div class="info-box bg-green">
                          <span class="info-box-icon"><img src="../demo/img/multiple-users-silhouette.png"
                              alt=""></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Pacientes</span>
                            <span class="info-box-number"></span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                              Total de pacientes: 67.00
                            </span>
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                        <div class="info-box bg-aqua">
                          <span class="info-box-icon"><img src="../demo/img/doctor.png" alt=""></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Médicos </span>
                            <span class="info-box-number"></span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                              Total de médicos: 29.00 </span>
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                        <div class="info-box bg-yellow">
                          <span class="info-box-icon"><img src="../demo/img/hostpital-building.png" alt=""></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Consultorios</span>
                            <span class="info-box-number"></span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                              Total de consultorios: 39.00 </span>
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- ./box-body -->

                </div><!-- /.box -->
              </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- Main row -->
            <div class="row">
              <!-- Left col -->
              <div class="col-md-8">
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Últimas citas</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Paciente</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>488</td>
                            <td>AAAAAA BBBBBB</td>
                            <td>05/02/2019</td>
                            <td>04:15</td>
                          </tr>
                          <tr>
                            <td>487</td>
                            <td>Carlos Olivares</td>
                            <td>05/02/2019</td>
                            <td>19:00</td>
                          </tr>
                          <tr>
                            <td>486</td>
                            <td>aaron echezuria</td>
                            <td>07/02/2019</td>
                            <td>13:30</td>
                          </tr>
                          <tr>
                            <td>485</td>
                            <td>David Flores Guzman</td>
                            <td>28/02/2019</td>
                            <td>09:00</td>
                          </tr>
                          <tr>
                            <td>483</td>
                            <td>Luis Campos</td>
                            <td>04/02/2019</td>
                            <td>11:45</td>
                          </tr>
                          <tr>
                            <td>482</td>
                            <td>Luis Campos</td>
                            <td>04/02/2019</td>
                            <td>11:45</td>
                          </tr>
                          <tr>
                            <td>481</td>
                            <td>Adrian Victor E. M.</td>
                            <td>10/02/2019</td>
                            <td>10:30</td>
                          </tr>
                          <tr>
                            <td>480</td>
                            <td>Adrian Victor E. M.</td>
                            <td>10/02/2019</td>
                            <td>10:30</td>
                          </tr>
                          <tr>
                            <td>479</td>
                            <td>Adrian Victor E. M.</td>
                            <td>11/02/2019</td>
                            <td>10:30</td>
                          </tr>
                          <tr>
                            <td>478</td>
                            <td>1marlon 1marlon</td>
                            <td>08/02/2019</td>
                            <td>23:45</td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- /.table-responsive -->
                  </div><!-- /.box-body -->
                  <div class="box-footer clearfix">

                    <a href="http://medic.obedalvarado.pw/citas.php"
                      class="btn btn-sm btn-default btn-flat pull-right">Ver todas las citas</a>
                  </div><!-- /.box-footer -->
                </div><!-- /.box -->
              </div><!-- /.col -->


              <div class="col-md-4">
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Últimos pacientes</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th>Paciente</th>
                            <th>Teléfono</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Adrian Victor E. M.</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Adrian Victor E. M.</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>jorge jorge</td>
                            <td>5498419</td>
                          </tr>
                          <tr>
                            <td>Rebeca Coello</td>
                            <td>22222222</td>
                          </tr>
                          <tr>
                            <td>JUAN PEREZ</td>
                            <td>55555555</td>
                          </tr>
                          <tr>
                            <td>Juancy Castillo</td>
                            <td>3055927754</td>
                          </tr>
                          <tr>
                            <td>Juanita Manzanero</td>
                            <td>999999999</td>
                          </tr>
                          <tr>
                            <td>Danny Ruiz</td>
                            <td>12345679</td>
                          </tr>
                          <tr>
                            <td>Luberta Gonzales</td>
                            <td>55522331</td>
                          </tr>
                          <tr>
                            <td>Luberto Gonzales</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- /.table-responsive -->
                  </div><!-- /.box-body -->
                  <div class="box-footer clearfix">

                    <a href="http://medic.obedalvarado.pw/pacientes.php"
                      class="btn btn-sm btn-default btn-flat pull-right">Ver todos los pacientes</a>
                  </div><!-- /.box-footer -->
                </div><!-- /.box -->
              </div><!-- /.col -->


            </div><!-- /.row -->
          </section><!-- /.content -->




          <!-- If you prefer jQuery these are the required scripts -->
          <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
          <script src="../dist/js/vendor.js"></script>
          <script src="../dist/js/adminx.js"></script>

          <script src="/cssI/src/jQuery-2.js"></script>
          <script src="/cssI/src/bootstrap.js"></script>
          <script src="/cssI/src/Chart.js"></script>
          <script src="/cssI/src/fastclick.js"></script>
          <script src="/cssI//src/app.js"></script>
          <script>
            $(function () {
              var areaChartData = {
                labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                datasets: [
                  {
                    label: "Compras",
                    fillColor: "rgba(210, 214, 222, 1)",
                    strokeColor: "rgba(210, 214, 222, 1)",
                    pointColor: "rgba(210, 214, 222, 1)",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [9.00, 2.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00]
                  },
                  {
                    label: "Ventas",
                    fillColor: "rgba(60,141,188,0.9)",
                    strokeColor: "rgba(60,141,188,0.8)",
                    pointColor: "#3b8bba",
                    pointStrokeColor: "rgba(60,141,188,1)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(60,141,188,1)",
                    data: [26.00, 12.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00]
                  }
                ]
              };
              //-------------
              //- BAR CHART -
              //-------------
              var barChartCanvas = $("#barChart").get(0).getContext("2d");
              var barChart = new Chart(barChartCanvas);
              var barChartData = areaChartData;
              barChartData.datasets[1].fillColor = "#00a65a";
              barChartData.datasets[1].strokeColor = "#00a65a";
              barChartData.datasets[1].pointColor = "#00a65a";
              var barChartOptions = {
                scaleBeginAtZero: true,
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                scaleShowHorizontalLines: true,
                scaleShowVerticalLines: true,
                barShowStroke: true,
                barStrokeWidth: 2,
                barValueSpacing: 5,
                barDatasetSpacing: 1,
                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",

                responsive: true,
                maintainAspectRatio: true
              };

              barChartOptions.datasetFill = false;
              barChart.Bar(barChartData, barChartOptions);
            });
          </script>


          <script>
            (function () {
              'use strict';

              window.addEventListener('load', function () {
                var form = document.getElementById('needs-validation');
                if (form !== null) {
                  form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                }
              }, false);
            })();
          </script>


</body>

</html>