<!DOCTYPE html>
<html lang="en">

<head>
    <title>Plantilla - medico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/dist/css/adminx.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/AdminLTE.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/select2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/skin-blue.css" media="screen" />

    

</head>

<body>
    <div class="adminx-container ">
        <!-- Header -->
        <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="index.html">
                <img src="../demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                Bienvenido Usuario
            </a>


            <div class="d-flex flex-1 d-block d-md-none">
                <a href="#" class="sidebar-toggle ml-3">
                    <i data-feather="menu"></i>
                </a>
            </div>

            <ul class="navbar-nav d-flex justify-content-end mr-2">
                <!-- Notificatoins -->

                <!-- Notifications -->
                <li class="nav-item dropdown">
                    <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"
                            class="d-inline-block align-top" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        
                       
                        <a class="dropdown-item text-danger" href="#">Sign out</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- // Header -->

        <!-- expand-hover push -->
        <div class="adminx-sidebar expand-hover push" id="sidebar">
            <ul class="sidebar-nav">


            </ul>
        </div>
        <!-------------------------MAIN------------------------------>
        <!-- Main Content -->
        <div class="adminx-content">

            <div class="adminx-main-content">
                <div class="container-fluid">
                    <!-- BreadCrumb -->
                    </section>
                    <!-- Main content -->
                    <section class="content">
                        <!-- Info boxes -->
                        <nav aria-label="breadcrumb" role="navigation">
                            <h3> Para poder iniciar porfavor llene el siguiente formulario</h3>
                        </nav>
                        <br>
                        <!-- Main row -->
                        <div class="row">
                            <!-- Left col -->
                            <div class="col-md-12">
                                <!-- TABLE: LATEST ORDERS -->
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i></button>
                                            <button class="btn btn-box-tool" data-widget="remove"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <form class="form-horizontal" method="post" id="guardar_consulta"
                                            name="guardar_consulta" action="/usuario/guardaHistorial">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                    <a href="#consulta" data-toggle="tab" aria-expanded="false"
                                                        class="nav-link active">
                                                        Formulario
                                                    </a>
                                                </li>
                                            </ul>
                                            <br>
                                            <div class="tab-content card-body ">
                                                <div class="tab-pane fade show active" id="consulta">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="nombre_paciente"
                                                                    class="control-label">Indicar su Profesion
                                                                </label>
                                                                <input type="text"
                                                                    class="form-control ui-autocomplete-input"
                                                                    placeholder="Indique su profesion " id="profesion"
                                                                    name="profesion" par="" autocomplete="off"
                                                                    required="">
                                                                <input id="id_paciente" name="id_paciente" type="hidden"
                                                                    value="">
                                                            </div>
                                                            <!--------------------------------------------------------------------------------------->
                                                            <!--------------------------------------------------------------------------------------->

                                                        </div>
                                                        <div class="col-md-2 card">
                                                            <div class="form-group">
                                                                <label for="edad" class="control-label">Es un fumador ?
                                                                </label><br>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="fuma" id="fuma" value=true>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio1">Si</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="fuma" id="fuma" checked="true"
                                                                        value=false>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio2">No</label>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 card">
                                                            <div class="form-group">
                                                                <label for="edad" class="control-label">Es un bebedor ?
                                                                </label><br>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="bebedor" id="bebedor" value=true>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio1">Si</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="bebedor" id="bebedor" checked="true"
                                                                        value=false>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio2">No</label>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 card">
                                                            <div class="form-group">
                                                                <label for="edad" class="control-label">Convive con
                                                                    animales ?
                                                                </label><br>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="animales" id="animales" value=true>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio1">Si</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="animales" id="animales" checked="true"
                                                                        value=false>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio2">No</label>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                             
                                                                <label for="motivo" class="control-label">Sufre de algun problema medico ?</label>
                                                                <textarea class="form-control" id="enfermedades" name="enfermedades"
                                                                    maxlength="255" autocomplete="off"
                                                                    required=""></textarea>
                                                            
                                                        
                                                        
                                                    
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2 card">
                                                            <div class="form-group">
                                                                <label for="edad" class="control-label">Realiza deportes
                                                                    ?
                                                                </label><br>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="deporte" id="deporte" value=true>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio1">Si</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="deporte" id="deporte" checked="true"
                                                                        value=false>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio2">No</label>
                                                                </div>

                                                            </div>
                                                        </div>






                                                        <div class="col-md-2 card">
                                                            <div class="form-group">
                                                                <label for="edad" class="control-label">Grupo sanguineo
                                                                </label><br>
                                                                <select name="grupoSa" id="grupoSa" class="selectpicker col-md-12 card">
                                                                    <option>A+</option>
                                                                    <option>O+</option>
                                                                    <option>B+</option>
                                                                    <option>AB+</option>
                                                                    <option>A-</option>
                                                                    <option>O-</option>
                                                                    <option>B-</option>
                                                                    <option>AB-</option>
                                                                </select>

                                                            </div>
                                                        </div>



                                                        <div class="col-md-2 card">
                                                            <div class="form-group">
                                                                <label for="edad" class="control-label">Tiene problemas cardiacos ?
                                                                </label><br>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="cardiaco" id="cardiaco" value=true>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio1">Si</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="cardiaco" id="cardiaco" checked="true"
                                                                        value=false>
                                                                    <label class="form-check-label"
                                                                        for="inlineRadio2">No</label>
                                                                </div>

                                                            </div>
                                                        </div>






                                                    </div>
                                                    <div class="row">
                                                         <div class="col-md-12">
                                                            <div class="form-group">
                                                             
                                                                <label for="motivo" class="control-label">Antecedentes familiares que quiera dar a conocer ?</label>
                                                                <textarea  style="height: 100px" class="form-control" id="familia" name="familia"
                                                                    maxlength="100" autocomplete="off"
                                                                    required=""></textarea>
                                                            
                                                        
                                                        
                                                    
                                                            </div>
                                                        </div>
                                                   
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary waves-effect"
                                                    data-dismiss="modal">Cerrar</button>
                                                <input type="hidden" name="id_consulta" id="id_consulta" value="39">
                                                <input type="hidden" name="btn_action" id="btn_action" value="Add">
                                                <input type="submit" name="action" id="action" class="btn btn-primary"
                                                    value="Guardar Consulta">
                                                <br><br>
                                            </div>

                                        </form>

                                        <div class="box-footer clearfix">

                                        </div><!-- /.box-footer -->
                                    </div><!-- /.box -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                    </section><!-- /.content -->




                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>

                                </div>
                                <div class="modal-body">
                                    <div class="row ">
                                        <div class="col-md-6 form-group">
                                            <label for="fecha">Fecha</label>
                                            <div class="input-group">
                                                <input type="date" class="form-control datepicker" id="fecha"
                                                    name="fecha" required="" maxlength="10">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="hora">Hora</label>
                                            <div class="input-group bootstrap-timepicker timepicker">
                                                <div class="bootstrap-timepicker-widget dropdown-menu">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="#" data-action="incrementHour"><i
                                                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                                                </td>
                                                                <td class="separator">&nbsp;</td>
                                                                <td><a href="#" data-action="incrementMinute"><i
                                                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><input type="text" name="hour"
                                                                        class="bootstrap-timepicker-hour form-control"
                                                                        maxlength="2"></td>
                                                                <td class="separator">:</td>
                                                                <td><input type="text" name="minute"
                                                                        class="bootstrap-timepicker-minute form-control"
                                                                        maxlength="2"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#" data-action="decrementHour"><i
                                                                            class="glyphicon glyphicon-chevron-down"></i></a>
                                                                </td>
                                                                <td class="separator"></td>
                                                                <td><a href="#" data-action="decrementMinute"><i
                                                                            class="glyphicon glyphicon-chevron-down"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <input id="hora" name="hora" type="time" class="form-control timepicker"
                                                    required="">
                                                <span class="input-group-addon"><i
                                                        class="glyphicon glyphicon-time"></i></span>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row ">
                                        <div class="col-md-12">
                                            <label for="id_paciente">Paciente</label>


                                        </div>

                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label for="id_medico">Médico</label>
                                            <select name="id_medico" id="id_medico" class="form-control" required="">
                                                <option value="">-- Selecciona --</option>
                                                <option value="25">1sariah 1sariah</option>
                                                <option value="32">Carlos Aguirre Salcedo</option>
                                                <option value="31">Carlos Aguirre Salcedo</option>
                                                <option value="23">Carlos Andres Aguirre Salcedo</option>
                                                <option value="29">Diana de la Vega</option>
                                                <option value="24">Elizabeth Rosalía</option>
                                                <option value="14">hola hola123</option>
                                                <option value="13">Irma Rosales</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row ">

                                        <div class="col-md-12 form-group">
                                            <label for="id_consultorio">Consultorio</label>
                                            <select name="id_consultorio" id="id_consultorio" class="form-control"
                                                required="">
                                                <option value="">-- Selecciona --</option>
                                                <option value="43">1Cofradia</option>
                                                <option value="35">1Cofradia</option>
                                                <option value="34">1Montelimar</option>
                                                <option value="23">2222</option>
                                                <option value="7">Basic</option>
                                                <option value="33">BASIC</option>
                                                <option value="14">basic</option>
                                                <option value="11">caracas 1</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="row ">

                                        <div class="col-md-12 form-group">
                                            <label for="observacion">Observación</label>
                                            <textarea class="form-control" name="observacion" id="observacion"
                                                maxlength="255"></textarea>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" id="guardar_datos"
                                        class="btn btn-primary disabled">Registrar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-----------------------FIN MODAL------------------------------->
                    <!-- If you prefer jQuery these are the required scripts -->
                    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
                    <script src="../dist/js/vendor.js"></script>
                    <script src="../dist/js/adminx.js"></script>

                    <script src="/cssI/src/jQuery-2.js"></script>
                    <script src="/cssI/src/bootstrap.js"></script>
                    <script src="/cssI/src/Chart.js"></script>
                    <script src="/cssI/src/fastclick.js"></script>
                    <script src="/cssI//src/app.js"></script>
                   

                    <script>
                        (function () {
                            'use strict';

                            window.addEventListener('load', function () {
                                var form = document.getElementById('needs-validation');
                                if (form !== null) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                }
                            }, false);
                        })();
                    </script>


</body>

</html>