<!DOCTYPE html>
<html lang="en">

<head>
    <title>Usuario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/dist/css/adminx.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/AdminLTE.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/select2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/skin-blue.css" media="screen" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>

</head>


<body>
    <div class="adminx-container " >
        <!-- Header -->
        <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="index.html">
                <img src="../demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                Bienvenido Usuario......
            </a>


            <div class="d-flex flex-1 d-block d-md-none">
                <a href="#" class="sidebar-toggle ml-3">
                    <i data-feather="menu"></i>
                </a>
            </div>

            <ul class="navbar-nav d-flex justify-content-end mr-2">
                <!-- Notificatoins -->

                <!-- Notifications -->
                <li class="nav-item dropdown">
                    <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"
                            class="d-inline-block align-top" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-danger" href="/cerrar_sesion">Cerrar sesion</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- // Header -->

        <!-- expand-hover push -->
        <div class="adminx-sidebar expand-hover push" id="sidebar">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item">
                    <a href='/usuario/home' class="sidebar-nav-link">
                        <span class="sidebar-nav-icon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Inicio
                        </span>
                        <span class="sidebar-nav-end">

                        </span>
                    </a>
                </li>


                <li class="sidebar-nav-item">
                    <a href='/usuario/registroCita' class="sidebar-nav-link">
                        <span class="sidebar-nav-icon">
                            <i data-feather="edit"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Registrar una cita
                        </span>
                    </a>

                <li class="sidebar-nav-item">
                    <a href='/usuario/verEditar' class="sidebar-nav-link">
                        <span class="sidebar-nav-icon">
                            <i data-feather="user"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Perfil Usuario
                        </span>

                    </a>
                </li>

                <li class="sidebar-nav-item">
                    <a href='/usuario/historialMedico' class="sidebar-nav-link">
                        <span class="sidebar-nav-icon">
                            <i data-feather="layers"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Mi historial medico
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <!-------------------------MAIN------------------------------>
        <!-- Main Content -->
        <div class="adminx-content">


            

            <div class="adminx-main-content">


                  <div class="row">
              <div class="col-md-12">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Clinica -----</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <p class="text-center">
                          <strong>Nuestras especialidades</strong>
                        </p>
                     


<div class="w3-content w3-display-container">

<div class="w3-display-container mySlides">
  <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width:100%">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    French Alps
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="https://www.w3schools.com/w3css/img_lights.jpg" style="width:100%">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Northern Lights
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="https://www.w3schools.com/w3css/img_mountains.jpg" style="width:100%">
  <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
    Beautiful Mountains
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="https://www.w3schools.com/w3css/img_forest.jpg" style="width:100%">
  <div class="w3-display-topright w3-large w3-container w3-padding-16 w3-black">
    The Rain Forest
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="https://www.w3schools.com/w3css/img_mountains.jpg" style="width:100%">
  <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
    Mountains!
  </div>
</div>

<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

</div>



                      </div><!-- /.col -->
                      <div class="col-md-4">
                        <!-- Info Boxes Style 2 -->
                        <div class="info-box bg-purple">
                          <span class="info-box-icon"><img src="../demo/img/medical-kit.png" alt=""></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Citas totales</span>
                            <span class="info-box-number">332.00</span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                              Citas del mes: 13.00 </span>
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                        <div class="info-box bg-green">
                          <span class="info-box-icon"><img src="../demo/img/multiple-users-silhouette.png"
                              alt=""></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Pacientes</span>
                            <span class="info-box-number"></span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                              Total de pacientes: 67.00
                            </span>
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                        <div class="info-box bg-aqua">
                          <span class="info-box-icon"><img src="../demo/img/doctor.png" alt=""></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Médicos </span>
                            <span class="info-box-number"></span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                              Total de médicos: 29.00 </span>
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                        <div class="info-box bg-yellow">
                          <span class="info-box-icon"><img src="../demo/img/hostpital-building.png" alt=""></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Consultorios</span>
                            <span class="info-box-number"></span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                              Total de consultorios: 39.00 </span>
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- ./box-body -->

                </div><!-- /.box -->
              </div><!-- /.col -->
            </div><!-- /.row -->
                <div class="container-fluid">
                    <!-- BreadCrumb -->

                    </section>
                    <!---------------- Main content ---------------->













                    <!-----------------------MODAL------------------------------->






                    <!-----------------------FIN MODAL------------------------------->
                    <!-- If you prefer jQuery these are the required scripts -->

                    <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
                    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
                    <script src="../dist/js/vendor.js"></script>
                    <script src="../dist/js/adminx.js"></script>

                    <script src="/cssI/src/jQuery-2.js"></script>
                    <script src="/cssI/src/bootstrap.js"></script>
                    <script src="/cssI/src/Chart.js"></script>
                    <script src="/cssI/src/fastclick.js"></script>
                    <script src="/cssI//src/app.js"></script>
                    <script>
                        $(function () {
                            var areaChartData = {
                                labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                                datasets: [
                                    {
                                        label: "Compras",
                                        fillColor: "rgba(210, 214, 222, 1)",
                                        strokeColor: "rgba(210, 214, 222, 1)",
                                        pointColor: "rgba(210, 214, 222, 1)",
                                        pointStrokeColor: "#c1c7d1",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(220,220,220,1)",
                                        data: [9.00, 2.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00]
                                    },
                                    {
                                        label: "Ventas",
                                        fillColor: "rgba(60,141,188,0.9)",
                                        strokeColor: "rgba(60,141,188,0.8)",
                                        pointColor: "#3b8bba",
                                        pointStrokeColor: "rgba(60,141,188,1)",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(60,141,188,1)",
                                        data: [26.00, 12.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00]
                                    }
                                ]
                            };
                            //-------------
                            //- BAR CHART -
                            //-------------
                            var barChartCanvas = $("#barChart").get(0).getContext("2d");
                            var barChart = new Chart(barChartCanvas);
                            var barChartData = areaChartData;
                            barChartData.datasets[1].fillColor = "#00a65a";
                            barChartData.datasets[1].strokeColor = "#00a65a";
                            barChartData.datasets[1].pointColor = "#00a65a";
                            var barChartOptions = {
                                scaleBeginAtZero: true,
                                scaleShowGridLines: true,
                                scaleGridLineColor: "rgba(0,0,0,.05)",
                                scaleGridLineWidth: 1,
                                scaleShowHorizontalLines: true,
                                scaleShowVerticalLines: true,
                                barShowStroke: true,
                                barStrokeWidth: 2,
                                barValueSpacing: 5,
                                barDatasetSpacing: 1,
                                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",

                                responsive: true,
                                maintainAspectRatio: true
                            };

                            barChartOptions.datasetFill = false;
                            barChart.Bar(barChartData, barChartOptions);
                        });
                    </script>


                    <script>
                        (function () {
                            'use strict';

                            window.addEventListener('load', function () {
                                var form = document.getElementById('needs-validation');
                                if (form !== null) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                }
                            }, false);
                        })();
                    </script>


</body>

</html>