<!DOCTYPE html>
<html lang="en">

<head>
    <title>Administrador</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/dist/css/adminx.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="/cssI/src/AdminLTE.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/select2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/skin-blue.css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script>
 
 

    function listarUsuarios() {
        var url = 'http://localhost:4000/admin/controlMedico/medicoPersona';
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function (data, textStatus, jqXHR) {  
                var html = "";
            console.log(data);
                $.each(data[0], function(i,item){
                    html += '<tr>';
                    html += '<td>'+ data[1][i].nro_consultorio +'</td>';
                    html += '<td>'+item.nombre +'</td>';
                    html += '<td>'+item.cuentum.correo+'</td>';
                    html += '<td>'+data[1][i].especialidad+'</td>';
                    html += '<td>'+item.cuentum.estado+'</td>';
                    html += '<td>'+'<a  class="btn btn-sm btn-danger "  href="/admin/darDeBaja/'+item.cuentum.external_id+'"> Activar/Desactivar</a></td>';
                    html += '</tr>';
                       
                });
                $("#tabla tbody").html(html);
            }, error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });
    }   
    $(document).ready(function (){
        listarUsuarios();
    });

  
</script>



</head>

<body>
    <div class="adminx-container " >
        <!-- Header -->
        <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/admin/controlMedicos">
                <img src="/demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                Bienvenido Administrador ......
            </a>


            <div class="d-flex flex-1 d-block d-md-none">
                <a href="#" class="sidebar-toggle ml-3">
                    <i data-feather="menu"></i>
                </a>
            </div>

            <ul class="navbar-nav d-flex justify-content-end mr-2">
                <!-- Notificatoins -->

                <!-- Notifications -->
     <li class="nav-item dropdown">
                    <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"
                            class="d-inline-block align-top" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-danger" href="/cerrar_sesion">Cerrar sesion</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- // Header -->

        <!-- expand-hover push -->
        <div class="adminx-sidebar expand-hover push" id="sidebar">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item">
                    <a href='/admin/controlMedicos' class="sidebar-nav-link">
                        <span class="sidebar-nav-icon">
                            <i data-feather="users"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Control de medicos
                        </span>
                    </a>
                </li>

                <li class="sidebar-nav-item">
                    <a href='/admin/controlUsuarios' class="sidebar-nav-link">
                        <span class="sidebar-nav-icon">
                            <i data-feather="user-x"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Control Usuarios
                        </span>

                    </a>
                </li>
            </ul>
        </div>




        <!-- Main Content -->
        <div class="adminx-content">

            <div class="adminx-main-content">
                <div class="container-fluid">
                    <!-- BreadCrumb -->

                    </section>


                    <!-- Main content -->
                    <section class="content">
                        <!-- Info boxes -->
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb adminx-page-breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Registro Cita</a></li>

                            </ol>
                        </nav>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h2 class="box-title">Contro Registro Medico</h2>
                                        <div class="box-tools pull-right"> <button type="button"
                                                class="btn btn-sm btn-default btn-flat pull-right" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i data-feather="plus"></i>
                                                Nueva Medico</button> </div>


                                    </div><!-- /.box-header -->


                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <!-- Main row -->
                        <div class="row">
                            <!-- Left col -->
                            <div class="col-md-12">
                                <!-- TABLE: LATEST ORDERS -->
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Últimas Medicos registrados</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i></button>
                                            <button class="btn btn-box-tool" data-widget="remove"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div><!-- /.box-header -->

                                    <div class="box-body">

                                        <table class="table no-margin" id="tabla">
                                            <thead class="text-center">
                                                <tr>
                                                <tr class="info">
                                                    <td>Nr Consultorio</th>
                                                    <td>Medico</th>
                                                    <td>Cuenta</th>
                                                    <td>Especialidad</th>
                                                    <td>Estado</th>
                                                    <td>Acciones</th>

                                                </tr>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                            
                                        
                                            </tbody>
                                        </table>
                                        <div class="box-footer clearfix">


                                        </div><!-- /.box-footer -->
                                    </div><!-- /.box -->
                                </div><!-- /.col -->




                            </div><!-- /.row -->
                    </section><!-- /.content -->


                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Registra un Nuevo Medico</h2>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                    <h4 class="modal-title"><i class="fa fa-plus"></i></h4>
                                </div>


                                <div class="modal-body">
                                    <form class="form-horizontal" method="post" id="guardarMedico" name="guardarMedico" action="/medico/guardar">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a href="#consulta" data-toggle="tab" aria-expanded="false"
                                                    class="nav-link active">
                                                    Datos del Medico
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="consulta">
                                                <div class="row">

                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label for="nombre_paciente" class="control-label">Nombres
                                                            </label>

                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese los Nombres del Medico"
                                                                id="nombre_medico" name="nombre" required="">
                                                            <input id="id_medico" name="id_medico" type="hidden"
                                                                value="">

                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label for="apellidos" class="control-label">Apellidos
                                                            </label>

                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese los Apellidos del Medico"
                                                                id="apellidoMedico" name="apellido" required="">
                                                            

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="dni" class="control-label">Cedula</label>
                                                            <input type="text" class="form-control" id="cedulaMedico" name="cedula"
                                                                placeholder="Ingrese la pinshe cedula prro">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label for="correo" class="control-label">Correo
                                                                Electronico</label>
                                                            <input type="email"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese el correo del medico" id="correoMedico"
                                                                name="correo"  required="">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label for="direccion"
                                                                class="control-label">Dirrecion</label>
                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese la direccion del domicilio"
                                                                id="correoMedico" name="direccion" 
                                                                required="">
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="telefono" class="control-label">Telefono</label>
                                                            <input type="text" class="form-control" id="telefono"
                                                                name="telefono" placeholder="Ingrese el telefono">
                                                        </div>

                                                    </div>

                                                    <div class="col-md-5">

                                                        <div class="form-group">
                                                            <label for="nacionalidad"
                                                                class="control-label">Nacionalidad</label>
                                                            <input type="text" class="form-control" id="nacionalidad"
                                                                name="nacionalidad"
                                                                placeholder="Ingrese la nacionalidad">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label for="estado_civil" class="control-label">Estado
                                                                Civil</label>
                                                            <input type="text" class="form-control" id="estado_civil"
                                                                name="estadoCivil"
                                                                placeholder="Ingrese el estado Civil">
                                                        </div>

                                                    </div>





                                                </div>
                                                <div class="row">

                                                      <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="especialidad"
                                                                class="control-label">Especialidad</label>
                                                               <input type="text" class="form-control" id="especialidad"
                                                                name="especialidad" placeholder="Ej . Cardiologo">

                                                        </div>

                                                    </div>

                                                   
                                                    <div class="col-md-5">

                                                        <div class="form-group">
                                                            <label for="genero" class="control-label">Genero</label>

                                                            <select class="form-control" id="generoMedico" name="genero">
                                                                <option>Genero</option>
                                                                <option>M</option>
                                                                <option>F</option>
                                                            </select>

                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label for="edad" class="control-label">Edad</label>
                                                            <input type="text" class="form-control" id="edadMedico"
                                                                name="edad" placeholder="Ingrese la edad">
                                                        </div>

                                                    </div>




                                                </div>
                                                <div class="row">
                                                  
 
                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="consultorio" class="control-label">Numero del
                                                                Consultorio</label>
                                                            <input type="text" class="form-control" id="consultorFio"
                                                                name="consultorio" placeholder="Ingrese el numero de consultorio">
                                                        </div>

                                                    </div>




                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label for="nombre_paciente" class="control-label">Ingrese el correo de registro
                                                            </label>

                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese la cuenta " id="cuentaMedico"
                                                                name="cuenta"  required="">


                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label for="nombre_paciente" class="control-label">Password
                                                            </label>

                                                            <input type="password"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese su Password" id="password"
                                                                name="clave"  required="">


                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="receta">
                                                <hr>
                                                <span id="span_product_details"><span id="row">
                                                        <div class="row">
                                                            <div class="col-md-4">

                                                            </div>
                                                            <div class="col-md-7"><input type="text" name="quantity[]"
                                                                    class="form-control"
                                                                    placeholder="Escriba las indicaciones del Medicamento">
                                                            </div>
                                                        </div>
                                                    </span></span>
                                                <hr>

                                            </div>
                                        </div>

                                         <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect"
                                        data-dismiss="modal">Cerrar</button>
                                    <input type="hidden" name="id_consulta" id="id_consulta" value="39">
                                    <input type="hidden" name="btn_action" id="btn_action" value="Add">
                                    <input type="submit" name="action" id="action" class="btn btn-primary"
                                        value="Regtrar Medico">
                                    <br><br>
                                </div>

                                
                                    </form>
                                </div>
                               

                            </div>

                        </div>
                    </div>



                    <!-- If you prefer jQuery these are the required scripts -->
                    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
                    <script src="/dist/js/vendor.js"></script>
                    <script src="/dist/js/adminx.js"></script>

                    <script src="/cssI/src/jQuery-2.js"></script>
                    <!-- Bootstrap 3.3.5 -->
                    <script src="/cssI/src/bootstrap.js"></script>
                    <!-- ChartJS 1.0.1 -->
                    <script src="/cssI/src/Chart.js"></script>
                    <!-- FastClick -->
                    <script src="/cssI/src/fastclick.js"></script>
                    <!-- AdminLTE App -->
                    <script src="/cssI/src/app.js"></script>
                 



                    <script>
                        (function () {
                            'use strict';

                            window.addEventListener('load', function () {
                                var form = document.getElementById('needs-validation');
                                if (form !== null) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                }
                            }, false);
                        })();
                    </script>


</body>

</html>