<!DOCTYPE html>
<html lang="en">

<head>
    <title>Plantilla - medico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/dist/css/adminx.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="/cssI/src/AdminLTE.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/select2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/cssI/src/skin-blue.css" media="screen" />

    <script src="/cssI/src/Chart.js"></script>
</head>

<body>
    <div class="adminx-container " >
        <!-- Header -->
        <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="index.html">
                <img src="/demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                Bienvenido Medico......
            </a>


            <div class="d-flex flex-1 d-block d-md-none">
                <a href="#" class="sidebar-toggle ml-3">
                    <i data-feather="menu"></i>
                </a>
            </div>

            <ul class="navbar-nav d-flex justify-content-end mr-2">
                <!-- Notificatoins -->

                <!-- Notifications -->
                <li class="nav-item dropdown">
                    <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"
                            class="d-inline-block align-top" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="#">My Tasks</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Sign out</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- // Header -->

        <!-- expand-hover push -->
        <div class="adminx-sidebar expand-hover push" id="sidebar">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item">
                    <a href='/admin/controlMedicos' class="sidebar-nav-link">
                        <span class="sidebar-nav-icon">
                            <i data-feather="users"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Control de medicos
                        </span>
                    </a>
                </li>

                <li class="sidebar-nav-item">
                    <a href='/admin/controUsuarios' class="sidebar-nav-link">
                        <span class="sidebar-nav-icon">
                            <i data-feather="user-x"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Control Usuarios
                        </span>

                    </a>
                </li>
            </ul>
        </div>




        <!-- Main Content -->
        <div class="adminx-content">

            <div class="adminx-main-content">
                <div class="container-fluid">
                    <!-- BreadCrumb -->

                    </section>


                    <!-- Main content -->
                    <section class="content">
                        <!-- Info boxes -->
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb adminx-page-breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Registro Cita</a></li>

                            </ol>
                        </nav>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h2 class="box-title">Contro Registro Medico</h2>
                                        <div class="box-tools pull-right"> <button type="button"
                                                class="btn btn-sm btn-default btn-flat pull-right" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i data-feather="plus"></i>
                                                Nueva Medico</button> </div>


                                    </div><!-- /.box-header -->


                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <!-- Main row -->
                        <div class="row">
                            <!-- Left col -->
                            <div class="col-md-12">
                                <!-- TABLE: LATEST ORDERS -->
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Últimas Medicos registrados</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i></button>
                                            <button class="btn btn-box-tool" data-widget="remove"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div><!-- /.box-header -->

                                    <div class="box-body">

                                        <table class="table no-margin">
                                            <thead class="text-center">
                                                <tr>
                                                <tr class="info">
                                                    <td>Nr Consultorio</th>
                                                    <td>Medico</th>
                                                    <td>Cuenta</th>
                                                    <td>Especialidad</th>
                                                    <td>Estado</th>
                                                    <td>Acciones</th>

                                                </tr>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                                <tr></tr>
                                                <td>consultorio</td>
                                                <td>Armando</td>
                                                <td>La cUenta</td>
                                                <td>Neurologia</td>
                                                <td><span class="badge badge-danger">activo</span></td>
                                                <td>
                                                    <!-------------------------BOTONES----------------------------->

                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-warning">Modificar</button>
                                                    <div class="btn-group">

                                                        <button type="button" class="btn btn-sm btn-danger "
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            Action
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else
                                                                here</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Separated link</a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <!-------------------------FIN BOTONES----------------------------->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="box-footer clearfix">


                                        </div><!-- /.box-footer -->
                                    </div><!-- /.box -->
                                </div><!-- /.col -->




                            </div><!-- /.row -->
                    </section><!-- /.content -->


                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Registra un Nuevo Medico</h2>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                    <h4 class="modal-title"><i class="fa fa-plus"></i></h4>
                                </div>


                                <div class="modal-body">
                                    <form class="form-horizontal" method="post" id="guardar_consulta"
                                        name="guardar_consulta">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a href="#consulta" data-toggle="tab" aria-expanded="false"
                                                    class="nav-link active">
                                                    Datos del Medico
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="consulta">
                                                <div class="row">

                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label for="nombre_paciente" class="control-label">Nombres
                                                            </label>

                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese los Nombres del Medico"
                                                                id="nombre_medico" name="nombre_medico" par=""
                                                                autocomplete="off" required="">
                                                            <input id="id_medico" name="id_medico" type="hidden"
                                                                value="">

                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label for="nombre_paciente" class="control-label">Apellidos
                                                            </label>

                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese los Apellidos del Medico"
                                                                id="nombre_medico" name="apellido_medico" par=""
                                                                autocomplete="off" required="">
                                                            <input id="id_medico" name="id_medico" type="hidden"
                                                                value="">

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="dni" class="control-label">DNI</label>
                                                            <input type="text" class="form-control" id="dni" name="dni"
                                                                placeholder="Ingrese el DNI" autocomplete="off">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label for="correo" class="control-label">Correo
                                                                Electronico</label>
                                                            <input type="email"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese el correo del medico" id="correo"
                                                                name="correo" par="" autocomplete="off" required="">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label for="direccion"
                                                                class="control-label">Dirrecion</label>
                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese la direccion del domicilio"
                                                                id="correo" name="correo" par="" autocomplete="off"
                                                                required="">
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="telefono" class="control-label">Telefono</label>
                                                            <input type="text" class="form-control" id="telefono"
                                                                name="telefono" placeholder="Ingrese el telefono"
                                                                autocomplete="off">
                                                        </div>

                                                    </div>

                                                    <div class="col-md-5">

                                                        <div class="form-group">
                                                            <label for="nacionalidad"
                                                                class="control-label">Nacionalidad</label>
                                                            <input type="text" class="form-control" id="nacionalidad"
                                                                name="nacionalidad"
                                                                placeholder="Ingrese la nacionalidad"
                                                                autocomplete="off">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label for="estado_civil" class="control-label">Estado
                                                                Civil</label>
                                                            <input type="text" class="form-control" id="estado_civil"
                                                                name="estado_civil"
                                                                placeholder="Ingrese el estado Civil"
                                                                autocomplete="off">
                                                        </div>

                                                    </div>





                                                </div>
                                                <div class="row">

                                                      <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="especialidad"
                                                                class="control-label">Especialidad</label>
                                                            <select class="form-control" id="especialidad"
                                                                name="especialidad">
                                                                <option>Ingrese su especialidad</option>
                                                                <option>especialidad 1</option>
                                                                <option>especialidad 2</option>
                                                                <option>especialidad 3</option>
                                                            </select>

                                                        </div>

                                                    </div>

                                                   
                                                    <div class="col-md-5">

                                                        <div class="form-group">
                                                            <label for="genero" class="control-label">Genero</label>

                                                            <select class="form-control" id="genero" name="genero">
                                                                <option>Genero</option>
                                                                <option>M</option>
                                                                <option>F</option>
                                                            </select>

                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label for="edad" class="control-label">Edad</label>
                                                            <input type="text" class="form-control" id="edad"
                                                                name="edad" placeholder="Ingrese la edad"
                                                                autocomplete="off">
                                                        </div>

                                                    </div>




                                                </div>
                                                <div class="row">
                                                  
 
                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="consultorio" class="control-label">Numero del
                                                                Consultorio</label>
                                                            <input type="text" class="form-control" id="consultorio"
                                                                name="consultorio" placeholder="Ingrese el consultorio"
                                                                autocomplete="off">
                                                        </div>

                                                    </div>




                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label for="nombre_paciente" class="control-label">Cuenta
                                                                Medico
                                                            </label>

                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese la cuenta " id="password"
                                                                name="password" par="" autocomplete="off" required="">


                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label for="nombre_paciente" class="control-label">Password
                                                            </label>

                                                            <input type="text"
                                                                class="form-control ui-autocomplete-input"
                                                                placeholder="Ingrese su Password" id="password"
                                                                name="password" par="" autocomplete="off" required="">


                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="receta">
                                                <hr>
                                                <span id="span_product_details"><span id="row">
                                                        <div class="row">
                                                            <div class="col-md-4">

                                                            </div>
                                                            <div class="col-md-7"><input type="text" name="quantity[]"
                                                                    class="form-control"
                                                                    placeholder="Escriba las indicaciones del Medicamento">
                                                            </div>
                                                        </div>
                                                    </span></span>
                                                <hr>

                                            </div>
                                        </div>

                                         <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect"
                                        data-dismiss="modal">Cerrar</button>
                                    <input type="hidden" name="id_consulta" id="id_consulta" value="39">
                                    <input type="hidden" name="btn_action" id="btn_action" value="Add">
                                    <input type="submit" name="action" id="action" class="btn btn-primary"
                                        value="Regtrar Medico">
                                    <br><br>
                                </div>

                                
                                    </form>
                                </div>
                               

                            </div>

                        </div>
                    </div>



                    <!-- If you prefer jQuery these are the required scripts -->
                    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
                    <script src="/dist/js/vendor.js"></script>
                    <script src="/dist/js/adminx.js"></script>

                    <script src="/cssI/src/jQuery-2.js"></script>
                    <!-- Bootstrap 3.3.5 -->
                    <script src="/cssI/src/bootstrap.js"></script>
                    <!-- ChartJS 1.0.1 -->
                    <script src="/cssI/src/Chart.js"></script>
                    <!-- FastClick -->
                    <script src="/cssI/src/fastclick.js"></script>
                    <!-- AdminLTE App -->
                    <script src="/cssI/src/app.js"></script>
                    <script>
                        $(function () {
                            /* ChartJS
                             * -------
                             * Here we will create a few charts using ChartJS
                             */

                            //--------------
                            //- AREA CHART -
                            //--------------
                            var areaChartData = {
                                labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                                datasets: [
                                    {
                                        label: "Compras",
                                        fillColor: "rgba(210, 214, 222, 1)",
                                        strokeColor: "rgba(210, 214, 222, 1)",
                                        pointColor: "rgba(210, 214, 222, 1)",
                                        pointStrokeColor: "#c1c7d1",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(220,220,220,1)",
                                        data: [9.00, 2.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00]
                                    },
                                    {
                                        label: "Ventas",
                                        fillColor: "rgba(60,141,188,0.9)",
                                        strokeColor: "rgba(60,141,188,0.8)",
                                        pointColor: "#3b8bba",
                                        pointStrokeColor: "rgba(60,141,188,1)",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(60,141,188,1)",
                                        data: [26.00, 12.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00]
                                    }
                                ]
                            };
                            //-------------
                            //- BAR CHART -
                            //-------------
                            var barChartCanvas = $("#barChart").get(0).getContext("2d");
                            var barChart = new Chart(barChartCanvas);
                            var barChartData = areaChartData;
                            barChartData.datasets[1].fillColor = "#00a65a";
                            barChartData.datasets[1].strokeColor = "#00a65a";
                            barChartData.datasets[1].pointColor = "#00a65a";
                            var barChartOptions = {
                                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                                scaleBeginAtZero: true,
                                //Boolean - Whether grid lines are shown across the chart
                                scaleShowGridLines: true,
                                //String - Colour of the grid lines
                                scaleGridLineColor: "rgba(0,0,0,.05)",
                                //Number - Width of the grid lines
                                scaleGridLineWidth: 1,
                                //Boolean - Whether to show horizontal lines (except X axis)
                                scaleShowHorizontalLines: true,
                                //Boolean - Whether to show vertical lines (except Y axis)
                                scaleShowVerticalLines: true,
                                //Boolean - If there is a stroke on each bar
                                barShowStroke: true,
                                //Number - Pixel width of the bar stroke
                                barStrokeWidth: 2,
                                //Number - Spacing between each of the X value sets
                                barValueSpacing: 5,
                                //Number - Spacing between data sets within X values
                                barDatasetSpacing: 1,
                                //String - A legend template
                                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                                //Boolean - whether to make the chart responsive
                                responsive: true,
                                maintainAspectRatio: true
                            };

                            barChartOptions.datasetFill = false;
                            barChart.Bar(barChartData, barChartOptions);
                        });
                    </script>





                    <script>
                        (function () {
                            'use strict';

                            window.addEventListener('load', function () {
                                var form = document.getElementById('needs-validation');
                                if (form !== null) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                }
                            }, false);
                        })();
                    </script>


</body>

</html>