<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../dist/css/adminx.css" media="screen" />
     <script src="/cssI/src/Chart.js"></script>
  </head>
  <body >
    <div class="adminx-container d-flex justify-content-center align-items-center">
      <div class="page-login">
        <div class="text-center">
          <a class="navbar-brand mb-4 h1" href="login.html">
            <img src="../demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
            Inicia Sesion
          </a>
        </div>

        <div class="card mb-0">
        
          <div class="card-body">
            <form id="formulario" name="formulario" method="POST" action="/login/iniciar">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1" class="form-label">Correo</label>
                <input type="email" name="correo"  class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
                <input type="password" name="clave"  class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
              </div>
              <div class="form-group">
               
              </div>
              <button type="submit" class="btn btn-sm btn-block btn-primary">Iniciar Sesion</button>
            </form>
          </div>
          <div class="card-footer text-center">
            <span>No tienes cuenta ?</span>
            <a href="/registro"><span>Registrate!!</span></a>
          </div>
        </div>
      </div>
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.js"></script>
<script src="/cssI/src/js/validator.js"></script>
<script src="/cssI/src/validate.js"></script>
<script src="/cssI/src/app.js"></script>


     <script>

    function notificar() {
      const notifications = new window.notifications({
        notificationSound: '../dist/media/notification.mp3',
        volume: 0.2,
        notification: {
          autoHide: true,
          playSound: true,
          duration: 2000,
          style: 'default',
          position: 'top',
        }
      });
      notifications.fire('Bienvenido medico');
   
    }

  </script>

<script>
    $().ready(function () {
        $("#formulario").validate({
            rules: {
                correo: {
                    required: true
                },
                clave: {
                    required: true
                }
            },
            messages: {
                correo: {
                    required: "Ingresa el correo de ingreso"
                },
                clave: {
                    required: "Ingresa tu clave "
                }
            }
        });
    });
     

     
</script>

    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.vanilla.js"></script-->
  </body>
</html>